<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - User Request</title>
    <!-- Material Design -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/request/static/css/styles.css" rel="stylesheet">
</head>
<body class="mdc-typography">
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">User Request</span>
            </section>
        </div>
    </header>

    <main class="main-content">
        <div class="mdc-top-app-bar--fixed-adjust">
            {{#if error}}
            <div class="mdc-banner" role="banner">
                <div class="mdc-banner__content">
                    <div class="mdc-banner__graphic-text-wrapper">
                        <div class="mdc-banner__text">{{error}}</div>
                    </div>
                    <div class="mdc-banner__actions">
                        <button type="button" class="mdc-button mdc-banner__primary-action">
                            <div class="mdc-button__ripple"></div>
                            <div class="mdc-button__label">Dismiss</div>
                        </button>
                    </div>
                </div>
            </div>
            {{/if}}
            {{{body}}}
        </div>
    </main>

    <!-- Material Design JavaScript -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="/request/static/js/app.js"></script>
</body>
</html> 